## Pandas Assignment 2
## MOHAMMAD KUMAIL

In [1]:
import pandas as pd
import numpy as np

In [78]:
# 1): Load up the dataset and set header label names to:

header = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']

myframe = pd.read_csv('census.data', names = header)
myframe

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

In [3]:
myframe.head(5)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K

In [4]:
myframe.tail(5)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

In [80]:
# 2): Make sure any value that needs to be replaced with a NAN is set as such. There are at
# least three ways to do this. One is much easier than the other two.

myframe = myframe.replace({'?': np.nan, '&': np.nan, '+': np.nan})
myframe

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

In [81]:
myframe = myframe.fillna(method='ffill')
myframe

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,2174,White,0,13,Male,<=50K
2,HS-grad,38,2174,White,0,40,Male,<=50K
3,11th,53,2174,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

In [21]:
# 3): Look through the dataset and ensure all of your columns have appropriate data types.
# Numeric columns should be float64 or int64, and textual columns should be object.

myframe.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [22]:
myframe['capital-gain'] = pd.to_numeric(myframe['capital-gain'], errors='coerce')

In [23]:
myframe.dtypes

education         object
age                int64
capital-gain       int64
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [24]:
myframe.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th'], dtype=object)

In [4]:
# 4): Properly encode any ordinal features using the method discussed in the chapter.

ordered_education = ['1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th',
                     '12th', 'Bachelors', 'Masters']

myframe = pd.DataFrame({'education': ['Bachelors', '12th', 'Masters', '10th', '9th']})

myframe.education = myframe.education.astype("category", ordered=True, categories=ordered_education).cat.codes

In [3]:
ordinal = pd.get_dummies(myframe, columns=['education'])
ordinal

   education_3  education_4  education_6  education_7  education_8
0            0            0            0            1            0
1            0            0            1            0            0
2            0            0            0            0            1
3            0            1            0            0            0
4            1            0            0            0            0

In [62]:
myframe.race.unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [76]:
# 5): Properly encode any nominal features by exploding them out into new, separate,
# boolean features.

unordered_gender = ['Male', 'Female']

myframe = pd.DataFrame({'sex': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male']})
myframe.sex = myframe.sex.astype("category", ordered=True, categories=unordered_gender).cat.codes

In [69]:
gender = pd.get_dummies(myframe, columns=['sex'])
gender

   sex_0  sex_1
0      0      1
1      1      0
2      1      0
3      0      1
4      0      1
5      1      0

In [74]:
unordered_race = ['White', 'Amer-Indian-Eskimo', 'Black', 'Asian-Pac-Islander']

myframe = pd.DataFrame({'race': ['Black', 'Asian-Pac-Islander', 'Black', 'White', 'Amer-Indian-Eskimo', 'White']})
myframe.race = myframe.race.astype("category", ordered=True, categories=unordered_race).cat.codes

In [75]:
race = pd.get_dummies(myframe, columns=['race'])
race

   race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  race_Black  race_White
0                        0                        0           1           0
1                        0                        1           0           0
2                        0                        0           1           0
3                        0                        0           0           1
4                        1                        0           0           0
5                        0                        0           0           1

In [84]:
myframe.to_csv('newCensus.data')
myframe

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,2174,White,0,13,Male,<=50K
2,HS-grad,38,2174,White,0,40,Male,<=50K
3,11th,53,2174,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K