In [2]:
students={ 'fname': ['Ali','Ahmed','Sana'],
           'lname': ['naeem','shan','muzamil'],
           'email': ['ali.naeem@jinnah.edu','ahmed.shan@jinnah.edu','sana.muzamil@jinnah.edu']   
}

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(students)

In [5]:
df

   fname    lname                    email
0    Ali    naeem     ali.naeem@jinnah.edu
1  Ahmed     shan    ahmed.shan@jinnah.edu
2   Sana  muzamil  sana.muzamil@jinnah.edu

0    False
1     True
2    False
Name: lname, dtype: bool

In [10]:
filt=df['lname'] == 'shan'

In [11]:
df[df['lname'] == 'shan']

   fname lname                  email
1  Ahmed  shan  ahmed.shan@jinnah.edu

In [10]:
df[df['lname'] == 'shan']

   fname lname                  email
1  Ahmed  shan  ahmed.shan@jinnah.edu

In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('survey_results_public.csv')

In [2]:
data.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

# Group by

In [12]:
country_grp=data.groupby(['Country'])

In [13]:
data['Country']

0                   Germany
1            United Kingdom
2        Russian Federation
3                   Albania
4             United States
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 64461, dtype: object

In [14]:
country_grp.get_group('United States')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64413,58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
64417,58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
64428,60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
64443,63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

# Missing Data
### isnull()
### notnull()
### fillna()

In [16]:
data.isnull()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [17]:
pd.notnull(data)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,True,True,True,False,True,True,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,False,True,False,False,False,True,True,...,False,False,False,True,False,False,True,False,True,True
2,True,True,True,False,True,False,False,False,True,False,...,True,True,False,False,False,False,True,False,True,False
3,True,True,True,True,True,False,False,False,True,True,...,False,False,True,True,False,False,True,True,True,True
4,True,True,True,True,True,False,False,False,True,False,...,True,True,True,True,True,True,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,True,False,True,False,True,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,True
64457,True,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
64458,True,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
64459,True,False,True,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
64460,True,False,True,False,False,False,False,False,True,False,...,False,False,False,True,True,True,False,False,False,False

In [33]:
data['Age'].isnull()

0         True
1         True
2         True
3        False
4        False
         ...
64456     True
64457     True
64458     True
64459     True
64460     True
Name: Age, Length: 64461, dtype: bool

In [57]:
data['Age'].isnull().value_counts()

False    45446
True     19015
Name: Age, dtype: int64

In [59]:
data['Age'].fillna(20,inplace=True)
data

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,20.0,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,20.0,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,20.0,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,20.0,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,20.0,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,20.0,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,20.0,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,20.0,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [61]:
data['Age'].value_counts()

20.0    20219
25.0     2693
28.0     2412
30.0     2406
26.0     2391
        ...
16.5        1
39.5        1
15.5        1
23.4        1
49.5        1
Name: Age, Length: 110, dtype: int64

In [62]:
#Filling null values with the previous ones
data.fillna(method='pad')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,20.0,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,20.0,19,Monthly,NaN,NaN,United Kingdom,Pound sterling,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Somewhat more welcome now than last year,50.0,7,4
2,3,I code primarily as a hobby,Yes,20.0,15,Monthly,NaN,NaN,Russian Federation,Pound sterling,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Somewhat more welcome now than last year,50.0,4,4
3,4,I am a developer by profession,Yes,25.0,18,Monthly,NaN,NaN,Albania,Albanian lek,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,Monthly,NaN,NaN,United States,Albanian lek,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,40.0,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,I am a student who is learning to code,Yes,20.0,16,Yearly,4310000.0,38759.0,United States,Japanese yen,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express;jQuery;React.js;Vue.js,ASP.NET Core,Just as welcome now as I felt last year,40.0,10,Less than 1 year
64457,64867,I am a student who is learning to code,Yes,20.0,16,Yearly,4310000.0,38759.0,Morocco,Japanese yen,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express;jQuery;React.js;Vue.js,ASP.NET Core,Just as welcome now as I felt last year,40.0,10,Less than 1 year
64458,64898,I am a student who is learning to code,Yes,20.0,16,Yearly,4310000.0,38759.0,Viet Nam,Japanese yen,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express;jQuery;React.js;Vue.js,ASP.NET Core,Just as welcome now as I felt last year,40.0,10,Less than 1 year
64459,64925,I am a student who is learning to code,Yes,20.0,16,Yearly,4310000.0,38759.0,Poland,Japanese yen,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;React.js,ASP.NET Core,Just as welcome now as I felt last year,40.0,10,Less than 1 year
64460,65112,I am a student who is learning to code,Yes,20.0,16,Yearly,4310000.0,38759.0,Spain,Japanese yen,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,10,Less than 1 year

In [23]:
# Filling null value with the next ones
data.fillna(method='bfill')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,25.0,13,Monthly,116000.0,116000.0,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,25.0,19,Monthly,116000.0,116000.0,United Kingdom,Pound sterling,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Somewhat more welcome now than last year,40.0,7,4
2,3,I code primarily as a hobby,Yes,25.0,15,Monthly,116000.0,116000.0,Russian Federation,Albanian lek,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Somewhat more welcome now than last year,40.0,4,4
3,4,I am a developer by profession,Yes,25.0,18,Monthly,116000.0,116000.0,Albania,Albanian lek,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,Monthly,116000.0,116000.0,United States,European Euro,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,39.0,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular;Angular.js;React.js,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular;Angular.js;React.js,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular;Angular.js;React.js,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular;Angular.js;React.js,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [63]:
# Filling a null values using replace() method
data['CompTotal'].replace(to_replace = np.nan, value = 50)

0        50.0
1        50.0
2        50.0
3        50.0
4        50.0
         ...
64456    50.0
64457    50.0
64458    50.0
64459    50.0
64460    50.0
Name: CompTotal, Length: 64461, dtype: float64

In [25]:
#Dropping rows if all values in that row are missing.
data.dropna

<bound method DataFrame.dropna of        Respondent                                         MainBranch Hobbyist  \
0               1                     I am a developer by profession      Yes
1               2                     I am a developer by profession       No
2               3                        I code primarily as a hobby      Yes
3               4                     I am a developer by profession      Yes
4               5  I used to be a developer by profession, but no...      Yes
...           ...                                                ...      ...
64456       64858                                                NaN      Yes
64457       64867                                                NaN      Yes
64458       64898                                                NaN      Yes
64459       64925                                                NaN      Yes
64460       65112                                                NaN      Yes

        Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0       NaN         13  Monthly        NaN            NaN             Germany
1       NaN         19      NaN        NaN            NaN      United Kingdom
2       NaN         15      NaN        NaN            NaN  Russian Federation
3      25.0         18      NaN        NaN            NaN             Albania
4      31.0         16      NaN        NaN            NaN       United States
...     ...        ...      ...        ...            ...                 ...
64456   NaN         16      NaN        NaN            NaN       United States
64457   NaN        NaN      NaN        NaN            NaN             Morocco
64458   NaN        NaN      NaN        NaN            NaN            Viet Nam
64459   NaN        NaN      NaN        NaN            NaN              Poland
64460   NaN        NaN      NaN        NaN            NaN               Spain

         CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0       European Euro  ...  Neither easy nor difficult  Appropriate in length
1      Pound sterling  ...                         NaN                    NaN
2                 NaN  ...  Neither easy nor difficult  Appropriate in length
3        Albanian lek  ...                         NaN                    NaN
4                 NaN  ...                        Easy              Too short
...               ...  ...                         ...                    ...
64456             NaN  ...                         NaN                    NaN
64457             NaN  ...                         NaN                    NaN
64458             NaN  ...                         NaN                    NaN
64459             NaN  ...                         NaN                    NaN
64460             NaN  ...                         NaN                    NaN

      Trans                                     UndergradMajor  \
0        No  Computer science, computer engineering, or sof...
1       NaN  Computer science, computer engineering, or sof...
2       NaN                                                NaN
3        No  Computer science, computer engineering, or sof...
4        No  Computer science, computer engineering, or sof...
...     ...                                                ...
64456   NaN  Computer science, computer engineering, or sof...
64457   NaN                                                NaN
64458   NaN                                                NaN
64459   NaN                                                NaN
64460   NaN  Computer science, computer engineering, or sof...

            WebframeDesireNextYear                      WebframeWorkedWith  \
0                     ASP.NET Core                    ASP.NET;ASP.NET Core
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4             Django;Ruby on Rails                           Ruby on Rails
...                            ...                                     ...
64456                          NaN                                     NaN
64457                          NaN                                     NaN
64458                          NaN                                     NaN
64459  Angular;Angular.js;React.js                                     NaN
64460          ASP.NET Core;jQuery  Angular;Angular.js;ASP.NET Core;jQuery

                                  WelcomeChange WorkWeekHrs YearsCode  \
0       Just as welcome now as I felt last year        50.0        36
1      Somewhat more welcome now than last year         NaN         7
2      Somewhat more welcome now than last year         NaN         4
3      Somewhat less welcome now than last year        40.0         7
4       Just as welcome now as I felt last year         NaN        15
...                                         ...         ...       ...
64456                                       NaN         NaN        10
64457                                       NaN         NaN       NaN
64458                                       NaN         NaN       NaN
64459                                       NaN         NaN       NaN
64460                                       NaN         NaN       NaN

           YearsCodePro
0                    27
1                     4
2                   NaN
3                     4
4                     8
...                 ...
64456  Less than 1 year
64457               NaN
64458               NaN
64459               NaN
64460               NaN

[64461 rows x 61 columns]>

In [26]:
data.dropna(how = 'all')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [27]:
# Dropping columns with at least 1 null value.
data.dropna(axis=1, how='all')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [66]:
#Dropping Rows with at least 1 null value in CSV file
data.shape
data.dropna(axis=0, how='any', inplace =True)
data.shape

(4387, 61)